/*css stylesheet of reservation*/
.background-reserve{
	width:104%;
	height:150vh;
	background-image:url("../images/tables.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
#slogan{
	position: absolute;
	font-family: Helvetica, sans-serif;
	font-size:33px;
	top: 15%;
	left: 40%;
	color: black;
}
#slogan p{
	text-align:center;
	font-size:25px;
	color:black;
	
}
#formSec
{
	float:left;
	width: 700px;
	color:black;
	position:absolute;
	top:20%;
	left:30%;
	padding-left: 40px;
	padding-bottom: 5px;
	font-size: 20px;
	line-height: 1.8em;	
	background: rgba(255,255,255,0.4);
	font-weight: bold;
}
.length
{
	width:90%;
	height:30px;
	font-size: 18px;
	font-weight: 400;
}
#submit{
	background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 3px;
}
#cancel{
	color:black;
	position:absolute;
	top:122.5%;
	left:64.2%;
	padding-bottom: 20px;
	background: rgba(255,255,255,0.9);
}
